body{
    font-family: 'Outfit', sans-serif;

    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/1backgroundIMG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}

.cabecalho .titulo{
    color:#d3d3d3;
}

.cabecalho .iconeMain{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.logo{
    width: 47px;
    height: 31px;
}

.car-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.lista-car{
    width: 340px;
    height: 600px;
    position: relative;

}

.btn-seta{
    background-color: rgb(184, 183, 183);
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    transition: backgroud-color 0.4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.btn-seta.btn-voltar{
    transform: rotateY(180deg);

}

.btn-seta:hover{
    background-color: #949496;
}

.cartao{
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 12px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: opacity 0.3s ease-in-out;
}

.cartao.selecionado .container-imagem img{
    border-radius: 15px;
}

.cartao.selecionado{
    opacity: 1;
    z-index: 1;
}

.fundo-1{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;

}

.fundo-2{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;

}

.fundo-3{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;

}

.fundo-4{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;

}

.fundo-5{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;


}

.fundo-6{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;


}

.fundo-7{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;

}

.fundo-8{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;

}

.fundo-9{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;
    
}

.fundo-10{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;
    
}

.fundo-11{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;
    
}

.fundo-12{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;
    
}

.fundo-13{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;
    
}

.fundo-14{
    background: url(../images/2background14.jpg) no-repeat;
    background-position: center;
    
}

.cartao .informacoes{
    background-color: rgba(91, 91, 94, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 8px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cartao .informacoes .titulo{
    color:#fff;
    font-size: 19px;
}

.cartao .container-imagem{
    text-align: center;
}

.cartao .imagem-car{
    max-width: 100%;
    max-height: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    width: 280px;
    height: 300px;
}

.cartao .descricao{
    background: rgba(255, 255, 255, 0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cartao .descricao .titulo{
    background-color: rgba(91, 91, 94, 0.6);
    color: #3a393d;
    font-size: 18px;
    padding: 12px;
}

.cartao .descricao .texto{
    font-size: 15px;
    padding: 10px;
    text-align: justify;
    max-height: 170px;
    overflow-y: auto;
}

footer div{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size:small;
    color: #f1ecff;
    text-decoration: none;
}